@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;

}

header .logo {
    width: 250px;
    height: 250px;
    background: url("logo/logo_transparent.png");
    background-size: cover;
    z-index: 1;
}

header {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid silver;
    z-index: 1;
    position: relative;
}

.contentBox {
    padding: 20px 50px;
}

.content {
    width: 80%;
    background: #36394de0;
    color: #d9f5fc;
    position: relative;
    z-index: 1;
    margin-top: 100px;
}

.content .textBox h2 {
    color: #d9f5fc;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 3em;

}

.content .textBox h2 span {
    font-size: 2em;
}

.right-side {
    background: #d9f5fc;
    width: 70vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}

.right-side img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.55;
}

.click {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 15px;
    background: #d7cff5;
    color: #2b2b2b;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.click .arrow-right {
    background: url(image/arrow-right.png);
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: cover;
    margin-left: 5px;
    top: 5px;
    position: relative;
}

.click .arrow-left {
    background: url(image/arrow-left.png);
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: cover;
    margin-right: 5px;
    top: 5px;
    position: relative;
}

.contact .form {
    margin-top: 40px;
}

.contact .form .inputBx {
    margin-bottom: 40px;
}

.contact .form .inputBx input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #d9f5fc;
    border-bottom: 2px solid #d9f5fc;
}

.contact .form .inputBx input::placeholder {
    color: #d9f5fc;
}

.contact .form .inputBx textarea {
    width: 100%;
    background: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #d9f5fc;
    min-height: 150px;
    border-bottom: 2px solid #d9f5fc;
}

.contact .form .inputBx textarea::placeholder {
    color: #d9f5fc;
}

.contact .form .inputBx input[type="submit"] {
    width: 150px;
    background: #c4cbf3;
    color: #111;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: none;
}

.serviceBx {
    display: flex;
    margin-bottom: 25px;
}

.serviceBx > div {
    margin: 5px;
    padding: 50px;
}


.all-right-reserved {
    color: #fff;
    text-align: center;
    background: #607D8B;
    width: 100%;
    z-index: 1;
}

.contact-info {
    border-top: 2px solid white;
    padding: 10px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info > div {
    padding-top: 30px;
    display: flex;
}

.contact-logo {
    background: white;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.contact-logo > img {
    width: 30px;
    height: 30px;
}

.contact-text {
    color: white;
    font-weight: 500;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.service-container .serviceBox {
    border-radius: 5px;
    color: #2b2b2b;
    font-weight: 600;
    background: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-container .serviceBox img {
    max-width: 100px;
}